/*Footer*/

.footer {
    grid-area: footer;
    background-color: $colorFondo;

    & .logo{
        @include logo
    }
    &__redes{
        button{
            border-radius: 50%;
            background-color: $colorPrincipal;
            width: 40px;
            height: 40px;
            z-index: 2;
            &:hover{
                transform: scale(1.04);
                background-color: $colorFondoSecundario;
                color: $colorPrincipal;
            }
        }
    }
}