
// color principal
$colorPrincipal: #85FFBD;
// colores fondos
$colorFondo: #151515;
$colorFondoSecundario: #3D3D3D;
$colorFondoGaleria: #03afff;
// color componentes
$colorNav: rgba(0, 0, 0, 71%);
$colorTituloPrincipal: #FFFFFF;
$colorSpan: #D0414A;

